body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, #root > #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body, #root {
  overflow: hidden;
}

.app-header {
  position: relative;
}

.app-header::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 4rem;
  position: absolute;
  background: white;
  padding: 2rem;
  bottom: 0;
  z-index: -5;
}

.page-title::after {

  content: ' ';
  display: block;
  position: absolute;
  padding: 2rem;
  padding-top: 0;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  z-index: -10;
}

.app-body > div {

  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
}