body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, #root > #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 110%;
  margin-bottom: 0.2em;
  margin-right: 0.2em;
}

#app {
  display: grid;
  grid-gap: 0;
  grid-template-rows: 0fr 3fr;
  grid-template-columns: minmax(min-content, 0.5fr) 3fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar content";
}

#app > header {
  grid-area: header;
}

#app > aside {
  grid-area: sidebar;
}

#app > main {
  grid-area: content;
}

.active {
  color: #7F5BEB !important;
}

.active::before {
  content: ' ';
  position: absolute;
  left: 0;
  width: .35em;
  height: 3em;
  border: 1px solid #7F5BEB;
  background-color: #7F5BEB;
  border-radius: 14px;
}